@import url("https://fonts.googleapis.com/css?family=Ubuntu:700|Lucida%20Console:400");
body {
  font-family: "Lucida Console";
  font-weight: 400;
  background-color: #18111b;
  color: white;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Ubuntu";
  font-weight: 700;
  margin: 0;
  padding: 0;
}

html {
  font-size: 90%;
} /* 16px */
h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}

main {
  height: 100vh;
  width: 100%;
  background-color: #18111b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  height: 75vh;
  width: 30vw;
  background-color: #18111b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  height: 5%;
  width: 100%;
  background-color: #18111b;
  text-align: center;
}

.passwordArea {
  height: 10%;
  width: 100%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #d6e1ff;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
}
.passwordArea_password {
  height: 80%;
  width: 70%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.passwordArea_copyIcon {
  height: 50%;
  width: 25%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passwordArea_copyIcon_message {
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passwordArea_copyIcon img {
  height: 100%;
  width: 80%;
  background-color: #3d224e;
  margin-left: 8px;
  cursor: pointer;
}

.passwordSettings {
  height: 70%;
  width: 100%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.passwordSettings_options {
  height: 90%;
  width: 90%;
  background-color: #3d224e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.passwordSettings_options_characterLength {
  height: 20%;
  width: 100%;
  background-color: #3d224e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.passwordSettings_options_characterLength_info {
  height: 40%;
  width: 100%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.passwordSettings_options_characterLength_input {
  height: 40%;
  width: 100%;
  background-color: #3d224e;
}
.passwordSettings_options_characterLength_input input[type=range] {
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  height: 20%;
  width: 100%;
  background: #18111b;
  transition: all 300ms;
}
.passwordSettings_options_characterLength_input input[type=range]::-webkit-slider-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.passwordSettings_options_characterLength_input input[type=range]::-moz-range-thumb {
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: -6px;
  background-color: #fff;
}
.passwordSettings_options_checkboxs {
  height: 40%;
  width: 100%;
  background-color: #3d224e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.passwordSettings_options_checkboxs_container {
  position: relative;
  height: 18%;
  width: 45%;
  background-color: #3d224e;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 25px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}
.passwordSettings_options_checkboxs_container input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  height: 0;
  width: 0;
}
.passwordSettings_options_checkboxs_container_checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #3d224e;
  border: 2px solid white;
}
.passwordSettings_options_checkboxs_container:hover input ~ .passwordSettings_options_checkboxs_container_checkmark {
  background-color: #18111b;
}
.passwordSettings_options_checkboxs_container_checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.passwordSettings_options_checkboxs_container input:checked ~ .passwordSettings_options_checkboxs_container_checkmark {
  background-color: #8e4ec6;
}
.passwordSettings_options_checkboxs_container input:checked ~ .passwordSettings_options_checkboxs_container_checkmark::after {
  display: block;
}
.passwordSettings_options_checkboxs_container_checkmark::after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2.8px 2.8px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.passwordSettings_options_passwordStrength {
  padding: 0 5%;
  height: 15%;
  width: 90%;
  background-color: #18111b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.passwordSettings_options_passwordStrength_info {
  height: 100%;
  width: 60%;
  background-color: #18111b;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.passwordSettings_options_passwordStrength_info_chart {
  margin-left: 10px;
  height: 50%;
  width: 30%;
  background-color: #18111b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.passwordSettings_options_passwordStrength_info_chart_div {
  height: 100%;
  width: 15%;
  background-color: none;
  border: 1.5px solid white;
}
.passwordSettings_options_generateButton {
  height: 15%;
  width: 100%;
  background-color: #8e4ec6;
}
.passwordSettings_options_generateButton button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #8e4ec6;
  outline: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
}
.passwordSettings_options_generateButton button:hover {
  background-color: #9a5cd0;
}

@media (min-width: 350px) and (max-width: 450px) {
  .container {
    height: 85vh;
    width: 95vw;
  }
}
@media (min-width: 450px) and (max-width: 500px) {
  .container {
    height: 85vh;
    width: 85vw;
  }
}
@media (min-width: 500px) and (max-width: 650px) {
  .container {
    height: 85vh;
    width: 80vw;
  }
}
@media (min-width: 650px) and (max-width: 800px) {
  .container {
    height: 85vh;
    width: 60vw;
  }
}
@media (min-width: 800px) and (max-width: 900px) {
  .container {
    height: 85vh;
    width: 45vw;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {
  .container {
    height: 85vh;
    width: 45vw;
  }
}
@media (min-width: 1025px) and (max-width: 1075px) {
  .container {
    height: 80vh;
    width: 35vw;
  }
}

/*# sourceMappingURL=style.css.map */
